<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70999e">  <td>17/09/04 02:36:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initiate.Ini()[pri:0, instance:Test.Initiate@598067a5]">&gt;&gt;Ini</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/04 02:36:05</td>   <td>398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Initiate.checkFail()[pri:0, instance:Test.Initiate@598067a5]">checkFail</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/04 02:36:05</td>   <td>436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Initiate.checkSkip()[pri:0, instance:Test.Initiate@598067a5]">checkSkip</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>17/09/04 02:36:05</td>   <td>440</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Initiate.tear()[pri:0, instance:Test.Initiate@598067a5]">&lt;&lt;tear</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
</table>
