<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6abc94">  <td>18/06/21 11:47:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Initiate.Ini()[pri:0, instance:Test.Initiate@23529fee]">&gt;&gt;Ini</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=My Test-1@9171722</td>   <td></td> </tr>
<tr bgcolor="6abc94">  <td>18/06/21 11:47:16</td>   <td>203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Initiate.checkHome(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:Test.Initiate@23529fee]">checkHome</td> 
  <td>TestNG-test=My Test-1@9171722</td>   <td></td> </tr>
<tr bgcolor="6abc94">  <td>18/06/21 11:47:19</td>   <td>3649</td> <td>&nbsp;</td><td title="&lt;&lt;Initiate.publishReport()[pri:0, instance:Test.Initiate@23529fee]">&lt;&lt;publishReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@550668305</td>   <td></td> </tr>
</table>
